
<form action="/auth" method="post">
	<div>
	<label>Password:</label>
	<input type="password" name="password"/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
	<input type="hidden" name="username" value="gdUser"/><br/>
</form>
